/* Scss Document */

$primary-color: #157300;
$secondary-color: #469519;
$tertiary-color: #7a0780;

@font-face {
    font-family: 'Bold'; /*a name to be used later*/
    src: url('../font/theboldfont.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Black'; /*a name to be used later*/
    src: url('../font/TitilliumWeb-Black.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Titi Regular'; /*a name to be used later*/
    src: url('../font/TitilliumWeb-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Titi Semi'; /*a name to be used later*/
    src: url('../font/TitilliumWeb-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Coco Light'; /*a name to be used later*/
    src: url('../font/Cocogoose Pro Ultralight-trial.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Coco Pro'; /*a name to be used later*/
    src: url('../font/Cocogoose Pro-trial.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Poppins Light'; /*a name to be used later*/
    src: url('../font/Poppins-Light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Poppins Regular'; /*a name to be used later*/
    src: url('../font/Poppins-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Poppins Bold'; /*a name to be used later*/
    src: url('../font/Poppins-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Poppins XBold'; /*a name to be used later*/
    src: url('../font/Poppins-ExtraBold.ttf'); /*URL to font*/
}

body {
	font-family: Poppins Light;
}

.clear {
	clear: both;
}

/* Front Page	*/

.sticky {
		border-bottom: 2px solid black;
		padding-top: 20px;
		background: rgba(0, 0, 0, 0.10);
		position: fixed;
		top: 0;
		width: 100%;
		ul {
			margin-top: 15px;
		}
	}

.fix-content {
	margin-top: 0px;
}

nav {
	
	display: flex;
	padding-top: 60px;
	list-style: none;

	.brand-container {
		margin-left: 80px;
		text-transform: uppercase;
		
		.green {
			color: $primary-color;
		}
		
		.nav-logo {
			
			font-size: 32px;
			font-family: Poppins Bold;
			transform: scaleY(1.3);
			
		}	
		.nav-logo-subtext {
			margin-top: -26px;
			letter-spacing: 4.7px;
			margin-left: 3px;
			font-family: Poppins Light;
			
		}
	}
	
	
	
	ul {
		margin: auto 100px auto auto;
	}
	
	.nav-item {
		display: inline-block;
		margin-right: 40px;
		padding: 0px 10px 0px 10px;
		font-weight: 600;
		text-transform: lowercase;
		font-size: 22px;
		border-bottom: 2px solid transparent;
		font-family: Poppins Bold;
		a {
			text-decoration: none !important;
			color: $primary-color !important;
		}
		
		:hover {
			border-bottom: 2px solid $primary-color;
		}
	}
}

#coverImage {
	background: url(../img/mainImage.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
	width: 100%;
		
	#overImageContainer {
		margin: 300px 150px auto auto;
		border-radius: 5px;
		width: 1000px;
		height: 150px;
		padding: 10px;
		text-align: right;
		
		p {
			color: black;
			
		}
		
		.imageText {
			font-size: 33px;			
			font-family: Poppins Bold;
		}
		
		.imageSubText {
			font-family: Poppins Light;
			font-size: 24px;
			font-weight: 700;
			margin-top: -20px;
		}
		
		#imageButtons {
			display: flex;
  			justify-content: flex-end;
			width: 100%;
		}
		
		button {
			background: none;
			border: 2px solid $primary-color;
			margin: 0px 0px 0px 20px;
			text-transform: lowercase;
			font-weight: 700;
			border-radius: 20px;
			color: $primary-color;
			min-width: 150px;
			
		}
		
		button:hover {
			background: $primary-color;
			color: white;
			transition: all 0.5s ease;
		}
	}
}

/* About Us */

#aboutUs {
	height: 1500px;
	width: 100%;
	
	.featuresHeader {
		text-align: center;
		font-family: Poppins Bold;
		padding: 100px 0;
		font-size: 34px;
	}
		
	.featuresContainer {
		height: 1300px;
		width: 100%;
		margin: 0 auto;
		
		.leftFeatures {
			float: left;
			width: 50%;
			height: 100%;
			border-right: 1px solid black;
			
			.feature {
				margin: 150px 0;
				padding-bottom: 350px;
			
				.featureHeader {
					font-family: Poppins Regular;
					text-align: right;
					padding-right: 30px;
					font-size: 25px;
				}
				
				.imageDescHolder {
				border-top: 2px solid black;
				width: 500px;
				float: right;
				display: inline-block;

					img {
						height: 150px;
						width: 150px;
						border: 2px solid black;
						border-radius: 50%;
						margin: -2px 0 0 -80px;
						float: left;
					}

					p {
						float: right;
						width: 400px;
						padding: 50px;
					}
				}
			}
		}
		.rightFeatures {
			float: left;
			width: 50%;
			height: 100%;
			border-left: 1px solid black;
			padding-top: 300px;
			
			.feature {
				margin: 150px 0;
				padding-bottom: 350px;
				
				.featureHeader {
					font-family: Poppins Regular;
					text-align: left;
					padding-left: 30px;
					font-size: 25px;
				}
				
				.imageDescHolder {
				border-top: 2px solid black;
				width: 500px;
				float: left;
				display: inline-block;

					img {
						width: 150px;
						height: 150px;
						border: 2px solid black;
						border-radius: 50%;
						margin: -2px -80px 0 0;
						float: right;
					}

					p {
						float: left;
						width: 400px;
						padding: 50px;
					}
				}
			}
		}		
	}	
}

/* Prices */
#prices {
	margin: 200px 0;
	.pricesHeader {
		margin: 50px;
		font-size: 34px;
		font-family: Poppins Bold;
		text-align: center;
	}

	.single-table {
		width: 80%;
		text-align: center;
		margin-bottom: 50px;
		
		tr {
			th {
				height: 50px;
				background: $primary-color;
				font-size: 19px;
				color: white;
			}

			td {
				height: 40px;
				border-bottom: 1px solid black;
				line-height: 18px;

				img {
					height: 23px;
					width: 23px;
				}
			}
			&:last-of-type {
				border-bottom: 2px solid transparent;
			}
		}
	}

	.double-table {
		width: 80%;
		.single-table {
			width: 95%;

			/*&:first-of-type {
				border-right: 15px solid transparent;

			}

			&:last-of-type {
				border-left: 15px solid transparent;
			}*/
		}
	}
}

th:first-child {
    border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

th:only-child{
    border-radius: 6px 6px 0 0;
}


/* Footer */

#footer {
	width: 100%;
	height: 100px;
	background: $primary-color;
}
